
<ion-header>

  <ion-navbar>
    <ion-title>table</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
<ion-grid>
  <ion-row>
    <ion-col col-4>
      Fname
    </ion-col>
    <ion-col col-4>
     Lname
    </ion-col>
    <ion-col col-4>
      Email
    </ion-col>
  </ion-row>
  <ion-row *ngFor= "let x of logindetails">
    <ion-col col-4>
      {{x.FName}}
    </ion-col> 
    <ion-col col-4>
        {{x.LName}}
      </ion-col> 
      <ion-col col-4>
          {{x.EMail}}
        </ion-col> 
  </ion-row>
</ion-grid>
</ion-content>
