
<ion-header>

  <ion-navbar>
    <ion-title>login</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
<ion-grid>
  <ion-row>
    <ion-col col-4>
      <ion-label>
      Fname
      </ion-label>
    </ion-col>
    <ion-col col-8>
      <ion-input type="text" placeholder="Enter Fname" [(ngModel)]="Userdetail.fname">
      </ion-input>
    </ion-col>
  </ion-row>
  <ion-row>
      <ion-col col-4>
        <ion-label>
        Lname
        </ion-label>
      </ion-col>
      <ion-col col-8>
        <ion-input placeholder="Enter Lname" clearInput [(ngModel)]="Userdetail.lname">
        </ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
        <ion-col col-4>
          <ion-label>
         Email
          </ion-label>
        </ion-col>
        <ion-col col-8>
          <ion-input type="email" placeholder="Enter Email" [(ngModel)]="Userdetail.email" clearInput>
          </ion-input>
        </ion-col>
      </ion-row>
</ion-grid>
<button ion-button block (click)="addinfo()">Add</button>
<button ion-button block (click)="next()">Next</button>

</ion-content>
