<ion-content>
  <ion-slides  autoplay="1000" loop="true" speed="1000" style="height: 40%">
    
     <ion-slide>
      <img src="assets/imgs/slide-1.jpeg">
     </ion-slide>
     <ion-slide>
         <img src="assets/imgs/slide-2.jpeg">
     </ion-slide>
     <ion-slide>
         <img src="assets/imgs/slide-3.jpeg">
     </ion-slide>
   </ion-slides>
</ion-content>