.ios, .md {
    
       page-home {
    
           content-drawer {
              // background-color: #34495e !important;
           }
    
           content-drawer .content {
               padding: 20px;
           }
    
       }
    
   }